* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
}

.header {
  width: 80%;
  margin: 50px 10% 75px 5%;
}

.header img {
  width: 170px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
}

.text-container {
  padding: 38px;
}

.text-container h1 {
  font-size: 2.3em;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin: 10px 0;
}

.text-container p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 29px;
  margin: 10px 0;
}

.btn-register {
  margin-top: 30px;
  border-radius: 35px;
  height: 55px;
  width: 205px;
  font-size: 18px;
  color: hsl(257, 40%, 49%);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.btn-register:hover {
  cursor: pointer;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.social-media img {
  width: 52px;
  height: 53px;
  padding: 10px;
  color:#fff;
}


.social-media img:hover {
  cursor: pointer;
}

.attribution { 
  font-size: 11px; text-align: center; 
  padding: 15px;
}

.attribution a { 
  color: hsl(228, 57%, 70%); 
}
/* Pesquisar o min e max width */
@media only screen and (max-width: 375px) { 
  body{
    background-color: hsl(257, 40%, 49%);
    background-image: url("../images/bg-mobile.svg");
  }
}

@media only screen and (min-width: 1440px) {
  body{
    background-color: hsl(257, 40%, 49%);
    background-image: url("../images/bg-desktop.svg");

  }
}


