* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: hsl(257, 40%, 49%);
  background-image: url("../images/bg-desktop.svg");
}

.header {
  width: 80%;
  margin: 50px 10% 75px 5%;
}

.header img {
  width: 170px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
}

.text-container {
  padding: 38px;
}

.text-container h1 {
  font-size: 2.3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin: 10px 0;
}

.text-container p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 29px;
  margin: 10px 0;
}

.btn-register {
  margin-top: 30px;
  border-radius: 35px;
  height: 55px;
  width: 205px;
  font-size: 18px;
  color: hsl(257, 40%, 49%);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.btn-register:hover {
  cursor: pointer;
  /* filter: drop-shadow(2px 2px 2px) */
}

.social-media {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.social-media img {
  width: 52px;
  height: 53px;
  padding: 10px;
  color:#fff;
}

.social-media img:hover {
  cursor: pointer;
}

.attribution { 
  font-size: 11px; text-align: center; 
  margin-bottom: 15px;
}

.attribution a { 
  color: hsl(228, 57%, 70%); 
}

@media only screen and (max-width: 800px) {
  body {
    background-color: hsl(257, 40%, 49%);
    background-image: url("../images/bg-mobile.svg");
    background-size: contain;
  }

  .header {
    width: 80%;
    margin: 10% 10%;  
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .image-container img {
    width: 100%;
    padding: 5%;
  }

  .text-container {
    word-wrap: break-word;
    text-align: center;
  }

  .text-container h1 {
    font-size: 1.8rem;
  }

  .text-container p {
    font-size: 1rem;
  }

  .btn-register {
    width: 70%;
    font-size: 16px;
  }

  .social-media {
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 800px)  {
  body {
    background-attachment: fixed;
    background-size: cover;
  }
  
  .container {
    justify-content: space-evenly;
  }

  .image-container img {
    width: 70vw;
    padding: 5%;
  }

  .text-container h1 {
    font-size: 2rem;
  }

  .text-container p {
    font-size: 1rem;
  }
}
